@charset "utf-8";
@media only screen and (max-width : 1400px) {
.header{ width: 300px; }
.webmain{ padding-left: 300px; }
}
@media only screen and (max-width : 1200px) {
.header{ width: 100%; height: 100px; padding: 10px; box-shadow: 0 0 20px rgba(0,0,0,.2);}
.webmain{ padding-left: 0; margin-top: 100px; }
.header .logo img{ height: 80px; }
.header .nav_handle{ margin-top: 15px; }
.header .inmuen{ overflow: hidden; opacity: 0; transition: all .5s; position: fixed; background: #fff; width: 0; height: 0; padding-top: 30px; margin-top: 0px; left: 50%; top: 50%; text-align: center; }
.header .inmuen ul{ display: inline-block; }
.header .inmuen .erji .li{ padding: 0; }
.header .inmuen.kai{ width: 100%; height: 100%; left: 0; top: 100px; opacity: 1; }
.nymendian .bd ul li{ width: 50%; }
.nysmendian .bd ul li{ width: 20%; }
}
@media only screen and (max-width : 910px) {
.inabout{ padding: 35px 20px 35px 390px; min-height: 214px; }
.inabout .pic{ width: 350px; height: 214px; }
.inabout .wz .jj{ height: 90px; margin-bottom: 10px; }
.inabout .wz .more{ height: 30px; line-height: 30px; font-size: 14px; }
.nyheader{ width: 100%; left: 0; top: 0; height: auto; }
.nysearch{ width: 96%; left: 2%; top: 100px; }
.nyheader .inmuen{ float: none; clear: both; background: #fff; display: none; }
.nyheader .inmuen ul li{ float: none; }
.nyheader .inmuen ul li > a{ line-height: 35px; font-size: 14px; text-align: center; }
.nyheader .inmuen ul li .erji{ position: static; width: auto; display: block; margin: 0; background: #f1f1f1; }
.nyheader .nav_handle{ display: block; margin-top: 15px; }
.nywebmain{ margin-top: 80px; }
.nynews ul li{ padding: 30px 30px 30px 320px;}
.nynews ul li .jj{ height: 90px; }
.nynews ul li .date{ position: static; top: initial; margin-top: 0; padding: 0; border: 0;}
.nynews ul li .date span{ display: inline-block; padding-right: 10px;}
.nynews ul li .date em{ display: inline-block; margin-bottom: 0;}
.nynews ul li .date .more{ display: none; }
}
@media only screen and (max-width : 640px) {
.header{ height: 70px; }
.header .logo img{ height: 50px; }
.header .nav_handle{ margin-top: 0px; }
.webmain{ margin-top: 70px; }
.inlanmu ul li{ width: 98%; }
.inlanmu{ padding: 10px; }
.header .inmuen.kai{ top:70px; }
.banner .pagination{ bottom: 0px; }
.banner .pagination .swiper-pagination-switch{ width: 10px; height: 10px; }
.inabout{ padding: 10px; }
.inabout .pic{ width: 100%; height: auto; position: static; margin-bottom: 10px;  }
.inabout .wz .tit{ line-height: 30px; height: 30px; font-size: 18px; }
.inabout .wz .jj{ height: auto; max-height: initial; }
.header .inmuen .kongg{ height: 10px; }
.nyheader .logo img{ height: 40px; }
.nyheader .logo{ padding: 5px 10px; }
.nyheader .nav_handle{ margin-top: 0; }

.nywebmain{ margin-top: 50px; }
.nymendian{ margin-bottom: 20px; }
.nymendian .bd ul li{ height: 300px; width: 100%; }
.nymendian .bd ul li .tit{ height: 50px; line-height: 50px; font-size: 14px; }
.nymendian .bd .tempWrap{ width: 100% !important; }
.nysmendian .bd ul li{ width: 33.33333% }
.showmendianpic{ height: 400px; }
.showmendianpic .swiper-slide{ background-size: auto 100% !important; }
.showmendianpic .pagination{ bottom: 0px; }
.showmendianpic .pagination .swiper-pagination-switch{ width: 10px; height: 10px; }
.nypro ul li{ margin: 5px 1%; }
.nypro ul li .tit{ font-size: 14px; line-height: 30px; height: 30px; }
.nypro ul li .jj{ font-size: 12px; }
.nynews ul li{ padding:20px;}
.nynews ul li .pic{ position: static; margin: 0 auto; }
.nynews ul li .tit{ font-size: 16px; height: 40px; line-height: 40px; }
.nynews ul li .date span{ font-size: 25px; }
.nynav ul li{ display: block; width: 33.33333%; overflow: hidden; float: left; padding: 0; text-align: center; font-size: 13px; height: 25px; line-height: 25px; }
.shownews{ width: 96%; margin: -10px auto 20px; padding: 20px 10px; }
.shownews .tit{ font-size: 18px; line-height: 25px; }
}
